<h3>Edit your bookmark for <%= @bookmark.url %></h3>

<%= form_for @bookmark, html: { multipart: true } do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :all_tags %>
  <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :notes %>
  <%= f.text_field :notes %>



        <%= f.label :pictures, "upload images" %>
        <%= file_field_tag "images[]", type: :file, multiple: true %>



  <%= f.submit class: "waves-effect waves-light btn" %>
<% end %>
